body{
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
   
}
.navbar-title{
    color: rgb(21, 195, 230);
}
.resim-slider{
    height: 600px;
}
.hakkimizda{
    background-color: #f2f2f2;
}
.ayrac{
    border: none;
    border-top: 3px solid #343a48;
    max-width: 250px;
    margin: 25px auto;
}
.ibeyaz{
    color: #343a48;
    position: relative;
    top: -60px;
    font-size: 40px;
    border: 18px solid white;
    background-color: white;
}
.igri{
    color: #343a48;
    position: relative;
    top: -60px;
    font-size: 40px;
    border: 18px solid #f2f2f2;
    background-color: #f2f2f2;
}
.ekipcard>img:hover{
    opacity: 0.8;
}
.galeri{
    background-color: #f2f2f2;
}
.row{
    background-color: #f2f2f2;
}
.figure:hover{
    opacity: 0.8;
}
.container .btn-primary{
    background-color: #343a48;
}
.container .btn-primary:active{
    background-color: #343a48;
}
@media (max-width: 906px) {
    body {
        padding-top: 0;
    } 

    .resim-slider {
        height: 400px;
    }

     .cardbody{
        height: 400px;
        width: 300px;
        float: left;
        
    }
}